/* style.css */
#radioitems label:nth-child(4) {
  color: red;
  flex: 1;
}

#radioitems label:nth-child(5) {
  color: blue;
  flex: 2;
}

#radioitems > div {
  display: flex;
}

#title {
  text-align: center;
}

.create_container1 {
  margin: 0 auto;
  }



#header {
  align-items: center;
}

.flex-display {
  display: flex;
}
